{%- socialSvg -%}

{%- if person.email %}
<a class="icon tooltip" href="mailto:{{ person.email }}" aria-label="Email: {{ person.email }}">
  <svg class="icon-item" viewBox="0 0 512 512"><use xlink:href="#at-circle"></use></svg>
</a>
{% endif -%}

{%- if person.homepage %}
<a class="icon tooltip" href="{{ person.homepage }}" aria-label="Home: {{ person.homepage }}">
  <svg class="icon-item" viewBox="0 0 512 512"><use xlink:href="#home"></use></svg>
</a>
{% endif -%}

{%- if person.twitter %}
<a class="icon tooltip" href="https://twitter.com/{{ person.twitter }}" aria-label="Twitter: {{ person.twitter }}">
  <svg class="icon-item" viewBox="0 0 512 512"><use xlink:href="#logo-twitter"></use></svg>
</a>
{% endif -%}

{%- if person.github %}
<a class="icon tooltip" href="https://github.com/{{ person.github }}" aria-label="GitHub: {{ person.github }}">
  <svg class="icon-item" viewBox="0 0 512 512"><use xlink:href="#logo-github"></use></svg>
</a>
{% endif -%}

{%- if person.linkedin %}
<a class="icon tooltip" href="https://www.linkedin.com/in/{{ person.linkedin }}" aria-label="LinkedIn: {{ person.linkedin }}">
  <svg class="icon-item" viewBox="0 0 512 512"><use xlink:href="#logo-linkedin"></use></svg>
</a>
{% endif -%}
