---
layout: base
---
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds flex-container">
    <h1 class="title flex-item">{{ title }}</h1>
    <div class="content flex-item">
      {{ content | safe }}
    </div>

    {%- meetupDetails page.date, venue, after, title -%}
    {%- endmeetupDetails -%}

    {%- videoPlayer video, title -%}
  </div>

  <div class="column mt-5">
    {%- if slides -%}
    <div class="message flex-item is-info">
      <h3 class="message-header">Meetup slides</h3>
      <ul class="message-body">
        {%- if slides -%}
        <li><a href="{{ slides }}">Get the slide deck!</a></li>
        {%- endif -%}
      </ul>
    </div>

    {%- endif -%}
    <h2 class="title is-sr-only">Speaker</h2>

    {%- for person in speakers -%}
    <div class="mt-4">
      {%- include business-card -%}
    </div>
    {%- endfor -%}
  </div>
</div>

{%- if sponsor.name or sponsor -%}
{%- if sponsor.name and sponsor.url -%}
{%- assign sponsorOrg = sponsor -%}
{%- elsif sponsor -%}
{%- assign sponsorOrg = organizations[sponsor] -%}
{%- endif -%}
<div class="columns is-variable is-8-desktop">
  <div class="column is-two-thirds">
    <div class="box is-8 content">
      <h3>Sponsor</h3>

      {%- if sponsorOrg.logo -%}
      <figure class="image sponsor-logo">
        <img src="{{ sponsorOrg.logo }}" alt="Sponsored by: {{ sponsorOrg.name }}">
      </figure>
      {%- endif -%}

      {%- if sponsorOrg.message -%}
      <div>
        {{ sponsorOrg.message | markdown | safe }}
      </div>
      {%- elsif sponsorOrg.name -%}
      <p>Austin JavaScript is <strong>sponsored this month by <a href="{{ sponsorOrg.url }}">{{ sponsorOrg.name }}</a></strong>. Please thank them for their gracious gifts of pizza and drinks and for their support of the local JavaScript community.
        {%- if sponsorOrg.careerUrl -%}
        Ask them about their <a href="{{ sponsorOrg.careerUrl }}">job opportunities</a>!
        {%- endif -%}
      </p>
      {%- endif -%}

      {%- if sponsorOrg.note -%}
      <p>
        {{ sponsorOrg.note | markdown | safe }}
      </p>
      {%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}

{%- assign nextPost = collections.meetups | getNextCollectionItem: page -%}
{%- assign previousPost = collections.meetups | getPreviousCollectionItem: page -%}
{%- include nav-posts -%}
